/* Flex container to hold the navbar and main content side-by-side */
.category-container {
  display: flex;
}

/* Fixed sidebar on the left */
.category-navbar {
  width: 25%;
  /* height: 100%;  */
  position: sticky;
  top: 0;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
.category-navbar > div{
  height: 150px
}
/* Main content area with left margin to avoid overlapping the fixed navbar */
.all-categories {
  padding: 20px;
  width: 75%; 
  box-sizing: border-box;
}

/* Optional: Add some styling for selected and highlighted categories */
.category-navbar ul li.active {
  font-weight: bold;
  /* color: #ff9800;  */
}

/* Optional: Style for each category content area */
.category-content {
  margin-bottom: 40px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  margin: 3px;
}

.category-content.highlight {
  padding-left: 16px;
}

.category-details img {
  max-width: 100%; /* Ensure images don't overflow */
  border-radius: 8px;
}

/* Main container for sidebar and content */
.category-container {
  display: flex;
  flex-direction: row;
  height: 100vh; 
  overflow: hidden; 
}

.category-item-container {
  display: flex;
  flex-direction: row;
  /* width: 25%; */
  color: white;
  /* padding: 20px; */
  box-sizing: border-box;
  overflow-y: auto;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
.category-card{
  width: 30%;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Main content area next to the sidebar */
.all-categories {
  flex: 1; 
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Optional: Style for active category */
.category-navbar ul li.active {
  font-weight: bold;
  color: #ff9800;
}

/* .category-navbar ul li span::after {
  content: '';
}

.category-navbar ul li.active span::after {
  content: '→'; 
  margin-left: 5px; 
} */

