.data_services .top {
  height: 100vh;
  background: url("../assets/images/timage7.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100vw;
height: 1074px;


}
.data_services .more {
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient(27.09deg, #012B38 11.5%, #002C3B 33.12%, #002C3A 43.32%, #00090B 93.09%); */
}
.data_services .top > .info {
  padding: 0 1.5em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: start;
  flex-direction: column;
  width: 70vw;
  height: 490px;
}

.data_services .top > .info > h1 {
  color: #fff;
  font-family: Saira;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 93.75% */
  letter-spacing: -1.28px;
  text-transform: uppercase;
  font-family: Saira;
  font-size: 64px;
  font-weight: 800;
  line-height: 79px;
  letter-spacing: -0.02em;
  text-align: start;
  margin-bottom: 0.5em;
  margin-left: 0;
  /* eee */
  font-family: Saira;
font-size: 50px;
font-weight: 800;
line-height: 60px;
letter-spacing: -0.02em;
text-align: left;

  /* ee */
}
.data_services .top > .info > p {
  color: #fff;
  font-family: Roboto;
  font-size: 16x;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.56px;
  text-transform: capitalize;
}
.data_services .data_services_op > h1 {
  /* width: 500px; */
  margin:3em auto;

}
.data_services .data_services_op > .data_serv_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2em;
  justify-content:center;
  /* eee */
  width: 1360px;
height: 3824px;

width: 100vw;
  /* ee */
}
.data_services .data_services_op .data_serv {
  border-radius: 12px;
  border: 1px solid #86ffe9;
  /* background: rgba(7, 11, 15, 0.3); */
  background: #003C50;

  -webkit-backdrop-filter: blur(150px);
  backdrop-filter: blur(150px);
  padding: 2.5em;
  width: calc((100% / 2) - 1em);
  margin: 0.5em;
  text-align: center;
height: 512px;
}
.data_services .data_services_op .data_serv > h1 {
  color: #fff;
  /* text-align: center; */
  font-family: Saira;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
  font-family: Saira;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;

  width: 477px;
height: 42px;
}
.data_services .data_services_op .data_serv > p {
  color: #fff;
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 128.571% */
  margin: 1em 0;
  font-family: Saira;
font-size: 28px;
font-weight: 500;
line-height: 36px;
text-align: left;

width: 477px;
height: 216px;

font-family: Saira;

}
@media (max-width: 980px) {
}
@media (max-width: 780px) {
  .data_services .data_services_op .data_serv {
    border-radius: 12px;
    border: 1px solid #86ffe9;
    background: rgba(7, 11, 15, 0.3);
    -webkit-backdrop-filter: blur(150px);
    backdrop-filter: blur(150px);
    padding: 2.5em;
    width: calc((100% / 1) - 1em);
    margin: 0.5em;
    height: fit-content;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .data_services .top {
      height: 70vh; 
      background-size: cover;
      display: flex;
      flex-direction: column;
      width: 100vw;
      padding: 1em;
      box-sizing: border-box;
  }
  .data_services .top > .info {
    padding: 0 1em;
    width: 90vw;
    height: auto;
    justify-content: flex-start;
}
.data_services .top > .info > h1 {
  font-size: 26px;
  line-height: 44px;
}
.data_services .top > .info > p {
  font-size: 14px;
  line-height: 24px;
}
.data_services .data_services_op > .data_serv_container {
  padding: 0 1em;
  width: 100vw;
 height: fit-content;   
}
.data_services .data_services_op .data_serv > h1 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 100%;
  height: fit-content;
}
.data_services .data_services_op .data_serv > p {
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  height: fit-content;
  margin: 1.4em 0;
}
}