.desarollo{
  background: linear-gradient(27.09deg, #012B38 11.5%, #002C3B 33.12%, #002C3A 43.32%, #00090B 93.09%);
}
.desarollo_page .top {
  height: 100vh;
  background: url("../assets/images/timage5.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.desarollo_page .more {
  background-repeat: no-repeat;
  background-size: cover;
  /* background: url("../assets/images/gif-bg\ stars.gif"); */
  background: linear-gradient(27.09deg, #012B38 11.5%, #002C3B 33.12%, #002C3A 43.32%, #00090B 93.09%);

}
.desarollo_page .domains  button {
  /* margin: 10em 0; */
  margin: 3em auto;
  display: block;
}
.desarollo_page .top > .info {
  padding: 0 1.5em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: red; */
}

.desarollo_page .top > .info > h1 {
  color: #fff;
  font-family: Saira;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 93.75% */
  /* letter-spacing: -1.28px; */
  text-transform: uppercase;
  /* margin-bottom: 2em; */
}
.desarollo_page .top > .info > p {
  color: #fff;
  font-family: Roboto;
  font-size: 16x;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.56px;
  text-transform: capitalize;
  margin: 0.5em 0;
}

.desarollo_page .desarollo_each_cont {
  display: flex;
  flex-wrap: wrap;
}
.desarollo_page .desarollo_each {
  border-radius: 12px;
  border: 1px solid #86ffe9;
  /* background: rgba(43, 43, 43, 0.9); */
  background: #003C50;
  backdrop-filter: blur(150px);
  padding: 3em 2em;
  width: calc((100% / 2) - 2em);
  margin: 1em;
}
@media (max-width: 780px) {
  .desarollo_page .desarollo_each {
    border-radius: 12px;
    border: 1px solid #86ffe9;
    /* background: rgba(43, 43, 43, 0.9); */
    background: #003C50;
    backdrop-filter: blur(150px);
    padding: 3em 2em;
    width: calc((100% / 1) - 2em);
    margin: 1em;
  }
}
.desarollo_page .desarollo_each h1 {
  margin-bottom: 0.1em;
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 42px; 105% */
}
.desarollo_page .desarollo_each p {
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 36px; 128.571% */
}
.desarollo_page .desarollo .desarollo_more {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  padding-top: 4em;
}
.desarollo_page .desarollo .desarollo_more .lft > h1 {
  color: #fff;
  font-family: Saira;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 42px; 105% */
  margin-bottom: 1em;
}
.desarollo_page .desarollo .desarollo_more .lft > p {
  color: #fff;
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 36px; 128.571% */
  margin-bottom: 1em;
}
.desarollo_page .desarollo .desarollo_more .lft > ul > li {
  color: #fff;
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 36px; 128.571% */
  margin-left: 1.5em;
}
.desarollo_page .desarollo .desarollo_more .rgt {
  margin-left: 2em;
  width: 50%;
}
.desarollo_page .desarollo .desarollo_more .rgt .image {
  border-radius: 12px;
  border: 1px solid #86ffe9;
  background: #003C50;
  backdrop-filter: blur(150px);
  width: 100%;
  height: 320px;
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desarollo_page .desarollo .desarollo_more .rgt .image img {
  height: 100%;
}

@media (max-width: 780px) {
  .desarollo_page .desarollo .desarollo_more {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    flex-direction: column-reverse;
    padding-top: 6em;
    align-items: center;
  }
  .desarollo_page .desarollo .desarollo_more .rgt {
    margin-left: 2em;
    width: 50%;
    display: contents;
  }
}
