.home_page .main {
  /* height: 100vh;
    background: red;
    width: 100%; */
  /* background: url('../assets/videos/-be65-414f-85e8-949a1e5e112a.mp4'); */
  /* flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column; */
  margin-left: 4em;
  width: 820px;
  height: 491px;
  top: 500px;
  /* left: 130px; */
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.home_page .main > h1 {
  /* color: #86ffe9;
  font-size: 44px;
  font-family: 800;
  line-height: 1;
  margin: 0 1.5em; */
  width: 756px;
  height: 203px;
  top: 367px;
  left: 130px;
  gap: 0px;
  opacity: 0px;
  font-family: Saira;
  font-size: 44px;
  font-weight: 800;
  /* line-height: 79px; */
  /* letter-spacing: -0.02em; */
  text-align: left;
  color: #86FFE9;

}

.home_page .main > p {
  /* color: #86FFE9;
  font-size: 26px;
  font-family: 500;
  color: #ffffff;
  margin: 1em 0;
  line-height: 1;
  margin: 0.5em 1.5em; */
  width: 820px;
  height: 138px;
  top: 600px;
  left: 130px;
  gap: 0px;
  opacity: 0px;
  font-family: Saira;
  font-size: 26px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: -0.02em;
  text-align: left;
  font-family: Saira;
  font-size: 32px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #FFFFFF;
}
.home_page .main .btn_1{
  width: Fixed (234px)px;
  height: Fixed (80px)px;
  top: 778px;
  left: 130px;
  padding: 6px 30px 6px 30px;
  gap: 10px;
  border-radius: 12px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
/* .home_page .services{
  background-attachment: fixed;
  /* change background image 
  /* background-image: url('../assets/images/Background-contact\ 1.png'); 
  /* background: linear-gradient(27.09deg, #012B38 11.5%, #002C3B 33.12%, #002C3A 43.32%, #00090B 93.09%);
}
*/

@media (max-width: 980px) {
  .home_page .main > h1 {
    color: #86ffe9;
    font-size: 34px;
    font-family: 800;
  }
  .home_page .main > p {
    /* color: #86FFE9; */
    font-size: 16px;
    font-family: 500;
    color: #ffffff;
  }
}
@media (max-width: 780px) {
  .home_page .main > h1 {
    color: #86ffe9;
    font-size: 34px;
    font-family: 800;
  }
  .home_page .main > p {
    /* color: #86FFE9; */
    font-size: 16px;
    font-family: 500;
    color: #ffffff;
  }
}
.home_page .main > button {
  position: relative;
  background: transparent;
  border: none;
  padding: 6px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  /* overflow: hidden; */
  background: #237d8d;
}
/* .home_page .main > button::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(135deg,#86FFE9,#237D8D,#1A9CA6,#AA6F56,#26AABC);
    left: 0;
    z-index: -2;
}
.home_page .main > button::before{
    content: '';
    position: absolute;
    width: 97%;
    height: 97%;
    background:#237D8D;
    left: 0;
    z-index: -1;
} */

.home_page > .top {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home_page .top .bgVideo {
  /* background: red; */
  /* flex: 1; */
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.home_page .top .bgVideo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.home_page .services {
  padding-top: 6em;
}
.home_page .services .title {
  padding-bottom:2em;
}

.home_page .services .oferta > h1 {
  font-size: 40px;
  font-family: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1em;
}
.home_page .services .oferta > h2 {
  font-size: 26px;
  font-weight: 500;
  color: #d9d9d9;
  text-align: center;
}

.home_page .services .service > .image {
  background: linear-gradient(
    90deg,
    #86ffe9,
    #237d8d,
    #1a9ca6,
    #aa6f56,
    #26aabc
  );
  height: 230px;
  width: 290px;
  position: relative;
  border-radius: 12px;
  /* overflow: hidden; */
}
.home_page .services .service > .image > .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.home_page .services .service > .image > .img > img {
  /* width: 100%; */
  width: 254px;
height: 190px;
top: 1465px;
left: 557px;
gap: 0px;
opacity: 0px;

}
.home_page .services .service h2{
  width: 364px;
height: 80px;
top: 1705px;
left: 29px;
gap: 0px;
opacity: 0px;
font-family: Saira;
font-size: 36px;
font-weight: 700;
line-height: 42px;
text-align: center;
}
.home_page .services .service p{
/* width: 333px;
height: 144px;
top: 1813px;
left: 44px;
gap: 0px;
opacity: 0px;
font-family: Saira;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: center; */
width: 355px;
height: 144px;
top: 1813px;
left: 506px;
gap: 0px;
opacity: 0px;
font-family: Saira;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: center;
}
.home_page .services .service {
  width: calc((100% / 3) - 4em);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 2em;
  margin-bottom: 3em;
  /* justify-content: space-between; */
height: 486px;
border-radius: 12px 0px 0px 0px;


}
@media (max-width: 980px) {
  .home_page .services .service {
    width: calc((100% / 2) - 4em);
  }
  .home_page .services .ofertas_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
}
@media (max-width: 780px) {
  .home_page .services .service {
    width: calc((100% / 1) - 4em);
  }
}
.home_page .services > .services_container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
}
.home_page .services .service > h2 {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin: 0.4em 0;
  line-height: 1.3;
}
.home_page .services .service > p {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
.home_page .services .service > .image > .bgSpan {
  background: #003C50;
  height: 229px;
  width: 289px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}
.home_page .services .oferta {
  padding-top: 2em;
}
.home_page .services > h1 {
  font-size: 40px;
  font-family: 700;
  color: #ffffff;
  text-align: center;
  /* margin-bottom: 1em; */
}
.home_page .services > h2 {
  font-size: 26px;
  font-weight: 500;
  color: #d9d9d9;
  text-align: center;
}
.home_page .services .oferta > h1 {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1em;
  height: 79px;
  opacity: 0px;
  font-family: Saira;
  /* top: 2090px;
  left: 520px; */
  font-weight: 700;
  line-height: 78.7px;
}
.home_page .services .oferta > h2 {
  color: #d9d9d9;
  text-align: center;
  height: 39px;
  font-family: Saira;
  font-size: 32px;
  font-weight: 500;
  line-height: 50.37px;
}
.home_page .services .oferta > .btns > .btn_op {
  background: linear-gradient(
    90deg,
    #86ffe9,
    #237d8d,
    #1a9ca6,
    #aa6f56,
    #26aabc
  );
  position: relative;
  border-radius: 8px;
  width: max-content;
  padding: 13px 35px;
  /* overflow: hidden; */
  min-width: 150px;
  transition: 0.5s;
  cursor: pointer;
}
.home_page .services .oferta > .btns > .btn_op > .word > p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
}
.home_page .services .oferta > .btns > .btn_op > .word {
  position: relative;
  z-index: 2;
}
.home_page .services .oferta > .btns > .btn_op > .bgSpan {
  transition: 0.5s;
  background: #2b2b2b;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  z-index: 1;
}
.home_page .services .oferta > .btns > .btn_op:hover,
.home_page .services .oferta > .btns > .btn_op:hover > .bgSpan {
  background: #86ffe9;
}
.home_page .services .oferta > .btns > .btn_op:hover > .word > p {
  color: #000000;
}
.home_page .services .oferta > .btns > .btn_op.active,
.home_page .services .oferta > .btns > .btn_op.active > .bgSpan {
  background: #86ffe9;
}
.home_page .services .oferta > .btns > .btn_op.active > .word > p {
  color: #000000;
}
.home_page .services .oferta > .btns {
  display: flex;
  justify-content: center;
}
.home_page .services .oferta > .btns > .btn_op {
  margin: 0.5em;
}

.home_page .services .oferta > .ofertas_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2.5em;
}
.home_page .services .oferta > .ofertas_container .each_ofertas {
  background: linear-gradient(
    90deg,
    #86ffe9,
    #237d8d,
    #1a9ca6,
    #aa6f56,
    #26aabc
  );
  border-radius: 8px;
  width: max-content;
  position: relative;
  padding: 2.5em 2.5em;
  overflow: hidden;
  min-width: 250px;
  transition: 0.5s;
  margin-bottom: 5em;
  min-width: calc((100% / 2) - 4em);
  max-width: calc((100% / 2) - 4em);

  width: 660px;
height: 352px;
border-radius: 12px 0px 0px 0px;
}
@media (max-width: 980px) {
  .home_page .services .oferta > .ofertas_container .each_ofertas {
    max-width: calc((100% / 2) - 10em);
  }
}
@media (max-width: 780px) {
  .home_page .services .oferta > .ofertas_container .each_ofertas {
    width: calc((100% / 1) - 4em);
  }
}
.home_page .services .oferta > .ofertas_container .each_ofertas > .word > p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
}
.home_page .services .oferta > .ofertas_container .each_ofertas > .info {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 319px;
  height: 198px;
  /* top: 2466px;
  left: 834px;
  gap: 0px; */
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  

}
.home_page .services .oferta > .ofertas_container .each_ofertas > .bgSpan {
  transition: 0.5s;
  background: #003C50;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  z-index: 1;
}
.home_page .services .oferta > .ofertas_container .each_ofertas > .info > h1 {
  color: #d9d9d9;
  font-size: 28px;
  font-weight: 700;

  /* width: 300px; */
 /* height: 42px; */
font-family: Saira;
/* font-size: 40px; */
line-height: 42px;
text-align: left;

}
.home_page .services .oferta > .ofertas_container .each_ofertas > .info > h2 {
  color: #d9d9d9;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2em;
  width: 319px;
/* height: 36px; */
font-family: Saira;
/* font-size: 24px; */
/* line-height: 36px; */
text-align: left;

}
.home_page .services .oferta > .ofertas_container .each_ofertas > .info button {
  background: linear-gradient(90deg, #3cd1e3b2, #98adaeb2, #af745cb2);
  color: #86ffe9;
  padding: 0.3em 1em;
  border: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;

  width: 234px;
height: 60px;
top: 2584px;
/* left: 834px; */
margin-left: 0;
gap: 0px;
border-radius: 12px;
opacity: 0px;
background: linear-gradient(90deg, #86FFE9 0%, #02BAC6 50%, #037B83 100%);
font-family: Saira;
font-size: 32px;
font-weight: 700;
line-height: 42px;
text-align: center;
}

.home_page .services .ver {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.5em;
  margin-top: 2em;
}
.home_page .services .ver .btn_op {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}
.home_page .services .ver > p {
  font-size: 26px;
  color: #d9d9d9;
  font-weight: 600;
}
.home_page .services .th_words {
  font-size: 26px;
  color: #d9d9d9;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: 1em;
  margin-bottom: 3em;
}
@media (max-width: 980px) {
  .home_page .services .th_words {
    font-size: 16px;
    color: #d9d9d9;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 1em;
  }
}
@media (max-width: 780px) {
  .home_page .services .th_words {
    font-size: 16px;
    color: #d9d9d9;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 1em;
  }
}
.home_page .services .th_words > p:nth-child(2) {
  margin: 0 2em;
}
.home_page .services .word_btn > h1 {
  font-size: 40px;
  font-family: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1em;
}

@media (max-width: 980px) {
  .home_page .services .ver > p {
    font-size: 16px;
    color: #d9d9d9;
    font-weight: 600;
  }
  .home_page .services .ver > .btn_op {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  .home_page .services .ver {
    flex-direction: column;
  }
  .home_page .services .word_btn > h1 {
    font-size: 30px;
    font-family: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1em;
    padding: 0 1.5em;
  }
}
@media (max-width: 780px) {
  .home_page .services .ver > p {
    font-size: 16px;
    color: #d9d9d9;
    font-weight: 600;
  }
  .home_page .services .ver {
    flex-direction: column;
  }
}
.home_page .services .word_btn {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}


.home_page .services .word_btn > a .link-btn{
font-family: Saira;
font-size: 32px;
font-weight: 700;
line-height: 42px;
text-align: center;
width: 280px;
height: 80px;
top: 5019px;
left: 580px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
background: linear-gradient(90deg, #86FFE9 0%, #02BAC6 50%, #037B83 100%);
}
.home_page .services .ver > p {
  font-size: 26px;
  color: #d9d9d9;
  font-weight: 600;
}

.home_page .garantee {
  padding-top: 3em;
}
.home_page .garantee .pay_mth_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}
.home_page .garantee .pay_mth_img img {
  height: 150px;
  margin: 0 auto;
}
@media (max-width: 780px) {
  .home_page .garantee .pay_mth_img img {
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
}
.home_page .garantee > h1 {
  color: #ffffff;
  font-size: 40px;
  /* margin-top: 3em; */
  text-align: center;
  margin-bottom: 1em;
}
@media (max-width: 780px) {
  .home_page .garantee > h1 {
    font-size: 30px;
    padding: 0 1.5em;
  }
}
.home_page .garantee .each_grns {
  /* background: linear-gradient(
    90deg,
    #86ffe9,
    #237d8d,
    #1a9ca6,
    #aa6f56,
    #26aabc
  ); */
  background: #003C50;
  border: 1px solid linear-gradient(90deg, #002C3A 0%, #33817C 50%, #012B38 100%);
  position: relative;
  border-radius: 8px;
  width: max-content;
  padding: 2.5em 2.5em;
  /* overflow: hidden; */
  min-width: 150px;
  transition: 0.5s;
  width: calc((100% / 2) - 3em);
  margin-bottom: 2em;

  width: 660px;
height: 408px;
border-radius: 12px 0px 0px 0px;
border: 1px solid;
border-image-source: linear-gradient(148.77deg, #86FFE9 4.57%, #237D8D 22.17%, #1A9CA6 43.61%, #AA6F56 62.75%, #26AABC 81.13%);



}
@media (max-width: 980px) {
}
@media (max-width: 780px) {
  .home_page .garantee .each_grns {
    width: calc((100% / 1) - 3em);
  }
}
.home_page .garantee .each_grns > .word > p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
}
.home_page .garantee .each_grns > .info {
  position: relative;
  z-index: 2;
  text-align: center;

  width: 569px;
height: 290px;
border-radius: 12px 0px 0px 0px;

}
.home_page .garantee .each_grns > .bgSpan {
  transition: 0.5s;
  background: #003C50;
  height: calc(100%- 2px);
  width: calc(100% - 2px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  z-index: 1;
}
.home_page .garantee .each_grns > .info > h1 {
  color: #d9d9d9;
  font-weight: 700;
  width: 489px;
height: 42px;
font-family: Saira;
font-size: 40px;
line-height: 42px;
text-align: center;

}
.home_page .garantee .each_grns > .info > h2 {
  color: #d9d9d9;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1em;
  width: 569px;
height: 108px;


}
.home_page .garantee .each_grns > .info > button {
  background: linear-gradient(90deg, #3cd1e3b2, #98adaeb2, #af745cb2);
  color: #86ffe9;
  padding: 0.3em 1em;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;

  width: 234px;
height: 80px;
border-radius: 12px;
opacity: 0px;

background: linear-gradient(90deg, #86FFE9 0%, #02BAC6 50%, #037B83 100%);
backdrop-filter: blur(300px)
}
.home_page .garantee .contain_grns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2em;
}
.home_page .vps .lft > h1 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
}
.home_page .vps .lft > p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  margin: 1em 0;
}
/* .home_page .vps .rht > .service  image{
    height: 260px;
}
.home_page .vps .rht > .service  .img{
    height: 260px;
}
.home_page .vps .rht > .service  .bgSpan{
    height: 260px;
} */
.home_page .vps .lft > ul > li {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  box-sizing: content-box;
  margin-left: 1.5em;
}
.home_page .vps .lft > ul {
  margin-bottom: 1.5em;
}
.home_page .vps .service .image {
  background: linear-gradient(
    90deg,
    #86ffe9,
    #237d8d,
    #1a9ca6,
    #aa6f56,
    #26aabc
  );
  height: 400px;
  width: 290px;
  position: relative;
  border-radius: 12px;
  /* overflow: hidden; */
}
.home_page .vps .service .image > .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_page .vps .service .image > .img img {
  width: 300px;
}
.home_page .vps .service {
  width: calc((100% / 3) - 4em);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  /* transform: translateX(50%); */
  overflow: hidden;
  width: max-content;
  /* justify-content: space-between; */

  
}

.home_page .vps .service h2 {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin: 1em 0;
}
.home_page .vps .service p {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
.home_page .vps .service .image > .bgSpan {
  background: #2b2b2b;
  height: 399px;
  width: 289px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}

.home_page .vps {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  padding: 1.5em;
  
}
.home_page .vps .lft{
  width: 877px;
height: 546px;
border-radius: 12px 0px 0px 0px;

}
.home_page .vps .lft > h1{
  width: 877px;
height: 64px;

font-family: Saira;
font-size: 50px;
font-weight: 700;
line-height: 64px;
text-align: left;

}

.home_page .vps .lft > p{
  width: 793px;
height: 72px;
font-family: Saira;
font-size: 32px;
font-weight: 500;
line-height: 36px;
text-align: left;

}

.home_page .vps .lft > li{
  width: 528px;
height: 36px;
font-family: Saira;
font-size: 24px;
font-weight: 500;
line-height: 40px;
text-align: left;
color: greenyellow;
}
.home_page .vps .contratar-btn{
  background: linear-gradient(90deg, #86FFE9 0%, #02BAC6 50%, #037B83 100%);
  margin-bottom: 0;
  width: 234px;
height: 80px;

border-radius: 12px;

font-family: Saira;
font-size: 32px;
font-weight: 700;
line-height: 42px;
text-align: center;

}
@media (max-width: 780px) {
  .home_page .vps {
    flex-direction: column-reverse;
  }
  .home_page .vps .service {
    /* width: calc((100% / 1) - 4em); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    /* transform: translateX(50%); */
    overflow: hidden;
    width: max-content;
    /* justify-content: space-between; */
    transform: scale(0.61);
    margin: 0 auto;
  }
  .home_page .vps .lft > h1 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
  }
  .home_page .vps .lft > p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    margin: 1em 0;
  }
  .home_page .vps .lft li {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    margin: 1em 0;
  }
}
.home_page .sus {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  padding: 1.5em;
  flex-direction: row-reverse;
  width: 1378px;
height: 998px;
}
.home_page .vps.sus .rht {
  /* width: 40%;/ */
  margin-right: 2em;
  width: 402px;
  height: 998px;
}

.home_page .vps.sus .rht .service{
  width: 402px;
height: 480px;

}

.home_page .vps.sus .lft > h1{
  width: 936px;
  height: 128px;
  top: 6992px;
  left: 473px;
  gap: 0px;
  opacity: 0px;
  font-family: Saira;
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
}
.home_page .vps.sus .lft > ul {
  margin-top: 2em;
}
.home_page .vps.sus .lft > ul p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  box-sizing: content-box;
  /* margin-left: 1.5em; */
  width: 931px;
height: 72px;
top: 7728px;
left: 473px;
gap: 0px;
opacity: 0px;
font-family: Saira;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: left;
margin-top: 2em;
margin-bottom: 2em;
}

.home_page .vps.sus .lft > ul li {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  box-sizing: content-box;
  /* margin-left: 1.5em; */
  /* margin: 1.5em 0; */
  /* margin-left: 2em;
  width: 377px;
  height: 36px;
  top: 7199px;
  left: 473px;
  gap: 0px;
  opacity: 0px;
  font-family: Saira;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  text-align: left; */
  width: 259px;
  height: 36px;
  top: 7676px;
  left: 473px;
  gap: 0px;
  opacity: 0px;
  font-family: Saira;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  margin-bottom: 2em;
  
}
.home_page .vps.sus .lft > button{
  width: 234px;
height: 80px;

border-radius: 12px;

font-family: Saira;
font-size: 32px;
font-weight: 700;
line-height: 42px;
text-align: center;
margin-top: 1em;
background: linear-gradient(90deg, #002C3A 0%, #33817C 50%, #012B38 100%);

}
.home_page .vps.sus .service:nth-child(1) {
  margin-bottom: 1em;
}
.home_page .vps.sus .service .image {
  background: linear-gradient(
    90deg,
    #86ffe9,
    #237d8d,
    #1a9ca6,
    #aa6f56,
    #26aabc
  );
  height: 270px;
  width: 290px;
  position: relative;
  border-radius: 12px;
  /* overflow: hidden; */
  background: #003C50;
  width: 402px;
  height: 450px;

}
.home_page .vps.sus .service .image > .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_page .vps.sus .service .image > .img img {
  width: 300px;
  height: 400px;
}
.home_page .vps.sus .service {
  width: calc((100% / 3) - 4em);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  /* transform: translateX(50%); */
  overflow: hidden;
  width: max-content;
  /* justify-content: space-between; */
}

.home_page .vps.sus .service h2 {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin: 1em 0;
}
.home_page .vps.sus .service p {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
.home_page .vps.sus .service .image > .bgSpan {
  background: #003C50;
  height: 269px;
  width: 289px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}
.home_page .rht .service .image .bgSpan {
  background: #003C50;
  height: 100%;
}
@media (max-width: 920px) {
  .home_page .sus {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
    padding: 1.5em;
    flex-direction: column-reverse;
  }
  .home_page .vps.sus .rht {
    /* width: 40%;/ */
    margin-right: 2em;
    display: none;
  }
}

.home_page .remarks_container {
  display: flex;
  /* justify-content: space-eve; */
  flex-wrap: wrap;
  padding: 1.5em;
}
.home_page .remarks h1 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 1.5em;
  line-height: 1.2;
}

.home_page .remarks .remark {
  /* background: linear-gradient(
    90deg,
    #86ffe9,
    #237d8d,
    #1a9ca6,
    #aa6f56,
    #26aabc
  );  */
  position: relative;
  border-radius: 12px;
  overflow: hidden; 
  width: calc((100% / 2) - 2em);
  padding: 1em;
  margin: 1em;
  width: 660px;
  height: 464px;
  border-radius: 12px;
  border: 2px solid; 
  border-image: linear-gradient(148.77deg, #86FFE9 4.57%, #237D8D 22.17%, #1A9CA6 43.61%, #AA6F56 62.75%, #26AABC 81.13%);
  border-width: 4px;
  border-style: solid;
  padding: 2px;}

/* .home_page .remarks .remark {
  position: relative;
  border-radius: 12px;
  width: 660px;
  height: 464px;
  margin: 1em;
  padding: 1em;
  
  border: 4px solid transparent;
  background: #003C50 padding-box, 
              linear-gradient(148.77deg, #86FFE9 4.57%, #237D8D 22.17%, #1A9CA6 43.61%, #AA6F56 62.75%, #26AABC 81.13%) border-box;
} */

/* .home_page .remarks .remark::before {
  content: '';
  position: absolute;
  top: -4px; 
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 12px;
  background: linear-gradient(148.77deg, #86FFE9 4.57%, #237D8D 22.17%, #1A9CA6 43.61%, #AA6F56 62.75%, #26AABC 81.13%);
  z-index: -1;
} */


@media (max-width: 780px) {
  .home_page .remarks h1 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding: 1.5em;
  }
  .home_page .remarks .remark {
    background: linear-gradient(148.77deg, #86FFE9 4.57%, #237D8D 22.17%, #1A9CA6 43.61%, #AA6F56 62.75%, #26AABC 81.13%);
    position: relative;
    border-radius: 12px;
    /* overflow: hidden; */
    width: calc((100% / 1) - 2em);
    padding: 1em;
    margin-bottom: 2em;
    margin: 1em;

    width: 660px;
height: 464px;

border-radius: 12px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

  }
}

.home_page .remarks .remark > .bgSpan {
  background: #003C50;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  z-index: 1;
  width: 609px;
  height: 302px;
  top: 8487px;
  left: 765px;
  gap: 0px;
  opacity: 0px;
}
.home_page .remarks .remark > p {
  z-index: 2;
  position: relative;
  margin: 4em 0;
  color: #ffffff;
  width: 609px;
  height: 216px;
  font-family: Saira;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}
.home_page .remarks .remark > p:nth-child(3) {
  z-index: 2;
  position: relative;
  margin: 0.5em 0;
  color: #ffffff;
  font-family: 500;
  font-size: 13px;
  opacity: 0.8;

  width: 475px;
height: 36px;
font-family: Saira;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: left;
font-family: Saira;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: left;

}
