.register_domino .top {
  height: 100vh;
  background: url("../assets/images/timage2.png");
  background-repeat: no-repeat;
  background-size: fill;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.register_domino .more {
  background-repeat: no-repeat;
  background-size: cover;
  background: url("../assets/images/gif-bg\ stars.gif");
}
.register_domino .domains > button {
  /* margin: 10em 0; */
  margin: 3em auto;
  display: block;
}
.register_domino .top > .info {
  padding: 0 1.5em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: red; */
}

.register_domino .top > .info > h1 {
  color: #fff;
  font-family: Saira;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -1.28px;
  text-transform: uppercase;
  line-height: 1;
}
.register_domino .top > .info > p {
  color: #fff;
  font-family: Roboto;
  font-size: 16x;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.56px;
  text-transform: capitalize;
}
.register_domino .register_domino_op {
  padding-top: 3em;
}
.register_domino .register_domino_op .register_domino_op_container {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em;
  justify-content: space-between;
}
.register_domino .register_domino_op .register_domin_each {
  width: calc((100% / 3) - 5em);
  /* margin: 2.5em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.desarollo_page .desarollo .desarollo_more {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  padding-top: 4em;
}
@media (max-width: 980px) {
  .register_domino .register_domino_op .register_domin_each {
    width: calc((100% / 2) - 5em);
    /* margin: 2.5em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }
}
@media (max-width: 780px) {
  .register_domino .register_domino_op .register_domin_each {
    width: calc((100% / 1) - 5em);
    /* margin: 2.5em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .register_domino .register_domino_op .register_domino_op_container {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    justify-content: center;
  }
}

.register_domino .register_domino_op .register_domin_each .image {
  border-radius: 12px;
  border: 1px solid #86ffe9;
  background: rgba(43, 43, 43, 0.9);
  backdrop-filter: blur(150px);
  width: max-content;
  width: 290px;
  height: 230px;
  flex-shrink: 0;
}
.register_domino .register_domino_op .register_domin_each h1 {
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  margin: 0.8em 0;
}
.register_domino .register_domino_op .register_domin_each p {
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.register_domino .domains {
  padding-top: 3em;
  margin-bottom: 1em;
}
.register_domino .domains .domainsContainer {
  display: flex;
  color: #fff;
  /* justify-content: space-between; */
  width: 500px;
  flex-wrap: wrap;
  margin: 0 auto;
}
.register_domino .domains .domainsContainer p {
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 116.667% */
  margin: 0.3em 1.7em;
  flex: 1;
}
.register_domino .domains .more_domain .more_domain_each {
  width: calc((100% / 2) - 5em);
  /* margin: 2.5em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 2em;
}
.register_domino .domains .more_domain .more_domain_each .image {
  border-radius: 12px;
  border: 1px solid #86ffe9;
  background: rgba(43, 43, 43, 0.9);
  backdrop-filter: blur(150px);
  width: max-content;
  width: 290px;
  height: 230px;
  flex-shrink: 0;
}
.register_domino .domains .more_domain .more_domain_each h1 {
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  margin: 0.8em 0;
}
.register_domino .domains .more_domain .more_domain_each p {
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.register_domino .domains .more_domain .more_domain_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
}
@media (max-width: 980px) {
  .register_domino .domains .more_domain .more_domain_each {
    width: calc((100% / 2) - 5em);
    /* margin: 2.5em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }
}
@media (max-width: 780px) {
  .register_domino .domains .more_domain .more_domain_each {
    width: calc((100% / 1) - 5em);
    /* margin: 2.5em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .register_domino .domains .more_domain .more_domain_container {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    justify-content: center;
  }
}
@media (max-width: 780px) {
  .register_domino .domains .domainsContainer {
    display: flex;
    color: #fff;
    /* justify-content: space-between; */
    width: auto;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
