.servidores_page .top {
  height: 100vh;
  background: url("../assets/images/timage6.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.servidores_page .more {
  background-repeat: no-repeat;
  background-size: cover;
  background: url("../assets/images/gif-bg\ stars.gif");
}
/* .servidoresOp_1{
  background: linear-gradient(27.09deg, #012B38 11.5%, #002C3B 33.12%, #002C3A 43.32%, #00090B 93.09%);
}
.servidores_op{
  background: linear-gradient(27.09deg, #012B38 11.5%, #002C3B 33.12%, #002C3A 43.32%, #00090B 93.09%);
} */
.servidores_page .domains > button {
  /* margin: 10em 0; */
  margin: 3em auto;
  display: block;
}
.servidores_page .top > .info {
  padding: 0 1.5em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: red; */
}

.servidores_page .top > .info > h1 {
  color: #fff;
  font-family: Saira;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 93.75% */
  letter-spacing: -1.28px;
  text-transform: uppercase;
  /* margin-bottom: 2em; */
}
.servidores_page .top > .info > p {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.56px;
  text-transform: capitalize;
}
.servidores_page .top .btns {
  display: flex;
  margin-top: 1em;
}
.servidores_page .top .btns > button:nth-child(1) {
  /* display: flex; */
  margin-right: 1em;
}
.servidores_page .servidores_op {
  margin-top:6em;
}
.servidores_page .servidores_op .changeBtns .changeBtn {
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #86ffe9;
  /* background: rgba(43, 43, 43, 0.9); */
  background: #003C50;
  backdrop-filter: blur(150px);
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  padding: 0.3em 1.3em;
  width: max-content;
  /* flex: 1; */
  /* margin: 1em; */
  margin: 0.5em;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  min-width: 210px;
}
.servidores_page .servidores_op .changeBtns .changeBtn.active,
.servidores_page .servidores_op .changeBtns .changeBtn:hover {
  background: #86ffe9;
  color: black;
}
.servidores_page .servidores_op .changeBtns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 782px;
  /* margin: 0 auto; */
  justify-self: flex-start;
  margin-bottom: 4em;
}

.servidores_page .servidores_op .specs {
  border-radius: 12px;
  border: 1px solid #86ffe9;
  background: rgba(134, 255, 233, 0.2);
  backdrop-filter: blur(150px);
  /* padding: 2em 1em; */
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 290px;
  align-items: center;
  /* top:1479; */
  left: 700px;
  /* margin: 2em 1.5em; */
}
.servidores_page .servidores_op .specs_contain {
  display: flex;
  justify-content: flex-end;
}

.servidores_page .servidores_op .specs .info {
  margin: 1em;
}
.servidores_page .servidores_op .specs .info > p:nth-child(1) {
  color: #fff;
  /* text-align: center; */
  font-family: Saira;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 42px; 105% */
}
.servidores_page .servidores_op .specs .info > p:nth-child(2) {
  color: #fff;
  /* text-align: center; */
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 36px; 128.571% */
}
.servidores_page .servidores_op .specs > button {
  /* width: 100px; */
  height: max-content;
}

.servidores_page .servidores_op .nuestros > h2{
  text-align: start;
  margin-top: 4em;
}
.servidores_page .servidores_op .nuestros > h1 {
  text-align: start;
  margin-bottom:4em;
}

.servidores_page .servidores_op .nuestros .nuetro .image {
  border-radius: 12px;
  border: 1px solid #86ffe9;
  /* background: rgba(43, 43, 43, 0.9); */
  background: #003C50;
  backdrop-filter: blur(150px);
  width: 200px;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 229px;
height: 200.44px;
}
.servidores_page .servidores_op .nuestros .nuetro .image img {
  width: 80px;
}
.servidores_page .servidores_op .nuestros .nuetro h1 {
  color: #fff;
  /* text-align: center; */
  font-family: Saira;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
  font-family: Saira;
font-size: 40px;
font-weight: 700;
line-height: 42px;
margin-top: 0.4em;
margin-bottom: 0.4em;
/* text-align: center; */

}
.servidores_page .servidores_op .nuestros .nuetro p {
  color: #fff;
  font-family: Saira;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 36px; 128.571% */
  font-family: Saira;
font-size: 28px;
font-weight: 500;
line-height: 36px;
text-align: left;

}
.servidores_page .servidores_op .nuestros .nuetro {
  width: calc((100% / 2) - 2em);
  margin: 1em;
height: 439.54px;
}
.servidores_page .servidores_op .nuestros_cont {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
height: 1002.4px;
padding: 2em;
justify-self: center;
}
.servidores_page .servidores_op .nuestros {
  padding: 1.5em;
}
.servidores_page .servidoresOp_1_contain .servidoresOp_1_each .image {
  border-radius: 12px;
  border: 1px solid #86ffe9;
  /* background: rgba(43, 43, 43, 0.9); */
  background: #003C50;
  backdrop-filter: blur(150px);
  flex-shrink: 0;
  width: max-content;
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  /* background: red; */
  display: flex;
  justify-content: center;
}
.servidores_page .servidoresOp_1_contain .servidoresOp_1_each .image img {
  width: 290px;
  height: 230px;
  flex-shrink: 0;
  /* background: red; */
}
.servidores_page .servidoresOp_1_contain {
  display: flex;
  justify-content: space-around;
  padding-top: 3em;
}
.servidores_page .servidoresOp_1_contain .servidoresOp_1_each {
  width: 290px;
  width: 364px;
height: 488px;
top: 1430px;
left: 30px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}
.servidores_page .servidoresOp_1_contain .servidoresOp_1_each h1 {
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 42px; 116.667% */
  margin: 0.3em 0;

  width: 364px;
height: 80px;
top: 1702px;
left: 30px;
gap: 0px;
opacity: 0px;
font-family: Saira;
font-size: 36px;
font-weight: 700;
line-height: 42px;
text-align: center;

}
.servidores_page .servidoresOp_1_contain .servidoresOp_1_each p {
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 36px; 150% */

  width: 333px;
height: 108px;
top: 1810px;
left: 45px;
gap: 0px;
opacity: 0px;
font-family: Saira;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: center;

}
.servidores_page .servidoresOp_1_contain1 .servidoresOp_1_each_1 {
  border-radius: 12px;
  border: 1px solid #86ffe9;
  /* background: rgba(7, 11, 15, 0.3); */
  background: #003C50;
  backdrop-filter: blur(150px);
  padding: 3em;
  width: calc((100% / 2) - 3em);
  margin: 1.5em;
  height: 614px;


}
.servidores_page .servidoresOp_1_contain1 .servidoresOp_1_each_1 h1 {
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 42px; 105% */
  width: 265px;
height: 42px;
font-family: Saira;
font-size: 40px;
font-weight: 700;
line-height: 42px;
text-align: center;
display: flex;
justify-content: center;
margin-top: 1.5em;
margin-left: 2.5em;

}
.servidores_page .servidoresOp_1_contain1 .servidoresOp_1_each_1 h2 {
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 36px; 128.571% */
  width: 220px;
  height: auto;
  font-family: Saira;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  margin-left:2.8em;
  /* margin-bottom: 1em; */
}
.servidores_page .servidoresOp_1_contain1 .servidoresOp_1_each_1 ul + h1 {
  /* color: #fff; */
  text-align: left;
  /* font-family: Saira; */
  margin: 0.5em 0;
}
.servidores_page .servidoresOp_1_contain1 {
  display: flex;
  flex-wrap: wrap;
}
.servidores_page .servidoresOp_1_contain1 .servidoresOp_1_each_1 li {
  color: #fff;
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 36px; 128.571% */
  margin-left: 3.8em;
  width: 441px;
height: 41px;
font-family: Saira;
font-size: 28px;
font-weight: 500;
line-height: 36px;
text-align: left;
margin-top:0.2em;

}

.servidores_page .servidoresOp_1 .nuestros_cont {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}
.servidores_page .servidoresOp_1 .nuestros_cont .nuetro .image {
  border-radius: 12px;
  border: 1px solid #86ffe9;
  /* background: rgba(43, 43, 43, 0.9); */
  background: #003C50;
  backdrop-filter: blur(150px);
  width: 200px;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230.49px;
height: 200.44px;


}
.servidores_page .servidoresOp_1 .nuestros_cont .nuetro .image img {
  width: 80px;
}
.servidores_page .servidoresOp_1 .nuestros_cont .nuetro h1 {
  color: #fff;
  /* text-align: center; */
  font-family: Saira;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
  width: 355px;
min-height: 42px;
height:auto;
font-family: Saira;
font-size: 40px;
font-weight: 700;
line-height: 42px;
/* text-align: center; */

}
.servidores_page .servidoresOp_1 .nuestros_cont .nuetro p {
  color: #fff;
  font-family: Saira;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 36px; 128.571% */
  width: 618px;
height: 142px;
font-family: Saira;
font-size: 28px;
font-weight: 500;
line-height: 36px;
text-align: left;
}
.servidores_page .servidoresOp_1 .nuestros_cont .nuetro {
  width: calc((100% / 2) - 2em);
  margin: 1em;
  /* width: 618px; */
height: 436.03px;


}
.servidores_page .servidoresop_1 .nuestros_cont {
  display: flex;
  flex-wrap: wrap;
}
.servidores_page .servidoresOp_1_contain1 {
  margin: 4em 0;
}

@media (max-width: 980px) {
  .servidores_page .servidoresOp_1_contain {
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
    flex-wrap: wrap;
  }
  .servidores_page .servidoresOp_1_contain .servidoresOp_1_each {
    width: 290px;
    margin-bottom: 2rem;
  }
}
@media (max-width: 780px) {
  .servidores_page .servidores_op .changeBtns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin: 0 auto;
  }
  .servidores_page .servidores_op .changeBtns .changeBtn {
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #86ffe9;
    background: rgba(43, 43, 43, 0.9);
    -webkit-backdrop-filter: blur(150px);
    backdrop-filter: blur(150px);
    color: #fff;
    text-align: center;
    font-family: Saira;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding: 0.3em 1.3em;
    width: max-content;
    /* flex: 1; */
    /* margin: 1em; */
    margin: 0.5em;
    transition: ease-in-out 0.5s;
    cursor: pointer;
  }
  .servidores_page .servidores_op .nuestros .nuetro {
    width: calc((100% / 1) - 2em);
    margin: 1em;
  }
  .servidores_page .servidoresOp_1_contain {
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
    flex-wrap: wrap;
  }
  .servidores_page .servidoresOp_1_contain .servidoresOp_1_each {
    width: 290px;
    margin-bottom: 2rem;
  }
  .servidores_page .servidoresOp_1_contain1 .servidoresOp_1_each_1 {
    border-radius: 12px;
    border: 1px solid #86ffe9;
    /* background: rgba(7, 11, 15, 0.3); */
    background: #003C50;
    -webkit-backdrop-filter: blur(150px);
    backdrop-filter: blur(150px);
    padding: 3em;
    width: calc((100% / 1) - 3em);
    margin: 1.5em;
  }
  .servidores_page .servidoresOp_1 .nuestros_cont .nuetro {
    width: calc((100% / 1) - 2em);
    margin: 1em;
  }
}
