.solicitar_page .top {
  height: 100vh;
  background: url("../assets/images/timage4.png");
  background-repeat: no-repeat;
  background-size: contain ;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.solicitar_page .more {
  background-repeat: no-repeat;
  background-size: cover;
  background: url("../assets/images/gif-bg\ stars.gif");
}
.solicitar_page .top > .info {
  padding: 0 1.5em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: red; */
}

.solicitar_page .top > .info > h1 {
  color: #fff;
  font-family: Saira;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 93.75% */
  letter-spacing: -1.28px;
  text-transform: uppercase;
}
.solicitar_page .top > .info > p {
  color: #fff;
  font-family: Roboto;
  font-size: 16x;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.56px;
  text-transform: capitalize;
}

.solicitar_page .quieres_saber {
  padding-top: 2em;
}
.solicitar_page .quieres_saber .quieres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}
.solicitar_page .quieres_saber .quieres .quiery {
  width: calc((100% / 3) - 2em);
  margin: 1em;
}

.solicitar_page .quieres_saber .quieres .quiery > h1 {
  color: #fff;
  /* text-align: center; */
  font-family: Saira;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 116.667% */
}
.solicitar_page .quieres_saber .quieres .quiery > p {
  color: #fff;
  font-family: Saira;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}
.solicitar_page input {
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #2b2b2b;
  padding: 0.4em 0.7em;
  backdrop-filter: blur(200px);
  color: rgba(217, 217, 217, 0.4);
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 500px;
  outline: none;
  margin: 0.5em 0;
}
.solicitar_page textarea {
  margin: 0.5em 0;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #2b2b2b;
  padding: 0.4em 0.7em;
  backdrop-filter: blur(200px);
  color: rgba(217, 217, 217, 0.4);
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 500px;
  outline: none;
  min-height: 200px;
}
.solicitar_page .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.solicitar_page .form > .full_gradient_btn {
  margin-top: 0.8em;
}
